form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .field{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 60%;
        margin-top: 2%;

        label{
            width: 100%;
            color: $textColor;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
        }

        input[type=text], input[type=password]{
            width: 100%;
            height: 5vh;

            padding: 5px;

            background-color: $backgroundItems;
            border: solid 1px black;
            border-radius: 6px;

            color: $textColor;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            font-size: 1rem;
        }

        .errorField{
            border: solid 2px $errorColor !important;
        }

        .errorText{
            color: $errorColor !important;
        }
    }

    button[type=submit]{
        width: 40%;
        height: 7vh;
        margin-top: 3%;

        color: $textColor;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;

        background-color: $backgroundItems;
        border: solid 1px $colorHeaderFooter;
        border-radius: 6px;

        cursor: pointer;
    }

    label[for=active]{
        width: 100%;
        margin-top: 10px;
        color: $textColor;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1rem;
    }

    button[type=submit]{
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;

        color: $textColor;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;

        background-color: $backgroundItems;
        border: solid 1px $colorHeaderFooter;
        border-radius: 6px;

        cursor: pointer;
    }

    input[type=checkbox]{
        height: 1rem;
        width: 1rem;
    }

}

#search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 3vh;

    input{
        display: inline;
        width: 75%;
        height: 5vh;

        padding: 5px;

        background-color: $backgroundItems;
        border: solid 1px #6e0000;
        border-radius: 6px 0 0 6px;

        color: $textColor;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 1rem;
    }

    button{
        display: inline;
        width: 15%;
        height: 5vh;
        margin: 0;

        border: solid 1px #6e0000;
        border-radius: 0 6px 6px 0;
    }
}
