header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.2%;
  z-index: 1;
  background-color: #ca1d1d;
  opacity: 0.95;
  box-shadow: #1b3118 0 0 50px;
}

header #logo {
  font-family: "Patua One", cursive;
}

header #nav {
  display: flex;
  justify-content: space-between;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

header #nav li {
  display: inline;
  margin-left: 5vw;
  text-decoration: none;
}

header #nav li .current-page {
  font-weight: bold;
  text-decoration: underline !important;
}

header #nav a {
  text-decoration: none;
  text-wrap: none;
}

header #nav a:hover {
  color: #b7b7b7;
  text-decoration: underline;
}

#card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90vw;
  margin: 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27vw;
  height: 27vw;
  margin-bottom: 3%;
  background-color: #130f47;
  border-top: solid 5px #981717;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.card h2 {
  width: 100%;
  height: 25%;
  font-size: 2rem;
  text-align: center;
  text-overflow: ellipsis;
}

.card img {
  max-width: 90%;
  height: auto;
  overflow: hidden;
}

.card p {
  width: 100%;
  height: 15%;
  font-size: 1rem;
  text-align: center;
  text-overflow: ellipsis;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 2%;
}

form .field label {
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

form .field input[type=text],
form .field input[type=password] {
  width: 100%;
  height: 5vh;
  padding: 5px;
  background-color: #130f47;
  border: solid 1px black;
  border-radius: 6px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

form .field .errorField {
  border: solid 2px #b80000 !important;
}

form .field .errorText {
  color: #b80000 !important;
}

form button[type=submit] {
  width: 40%;
  height: 7vh;
  margin-top: 3%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #130f47;
  border: solid 1px #ca1d1d;
  border-radius: 6px;
  cursor: pointer;
}

form label[for=active] {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

form button[type=submit] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #130f47;
  border: solid 1px #ca1d1d;
  border-radius: 6px;
  cursor: pointer;
}

form input[type=checkbox] {
  height: 1rem;
  width: 1rem;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3vh;
}

#search input[type=search] {
  display: inline;
  width: 75%;
  height: 5vh;
  padding: 5px;
  background-color: #130f47;
  border: solid 1px #6e0000;
  border-radius: 6px 0 0 6px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

#search div {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
}

#search label[for=kitten],
#search label[for=bunny],
#search label[for=panda] {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

#search button {
  display: inline;
  width: 15%;
  height: 5vh;
  margin: 0;
  border: solid 1px #6e0000;
  border-radius: 0 6px 6px 0;
}

#vote {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  visibility: hidden;
}

#vote #like {
  color: #ca1d1d;
  font-size: 4rem;
  visibility: visible;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  min-height: 100vh;
  background-color: #08071f;
  display: flex;
  flex-direction: column;
}

/* Fonts */

h1,
h2,
h3,
p,
a,
li {
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  word-wrap: break-word;
  text-align: center;
}

img {
  display: block;
  max-width: 60vw;
  max-height: 70vh;
  margin: 2.5% auto;
}

.editPostImg {
  max-width: 60vw;
  max-height: 70vh;
}

footer {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1.2%;
  margin-top: auto;
  background-color: #ca1d1d;
}

