header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.2%;
  z-index: 1;
  background-color: #ffb3b3;
  opacity: 0.95;
  box-shadow: #1b3118 0 0 50px;
}

header #logo {
  font-family: "Patua One", cursive;
}

header #nav {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

header #nav li {
  display: inline;
  text-decoration: none;
}

header #nav li .current-page {
  font-weight: bold;
  text-decoration: underline !important;
}

header #nav a {
  color: black;
  text-decoration: none;
  text-wrap: none;
}

header #nav a:hover {
  color: #4d4d4d;
  text-decoration: underline;
}

#card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90vw;
  margin: 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27vw;
  height: 27vw;
  margin-bottom: 3%;
  background-color: #dae8fa;
  border-top: solid 5px black;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.card h2 {
  width: 100%;
  height: 25%;
  font-size: 2rem;
  text-align: center;
  text-overflow: ellipsis;
}

.card img {
  width: 80%;
  height: 60%;
  overflow: hidden;
}

.card p {
  width: 100%;
  height: 15%;
  font-size: 1rem;
  text-align: center;
  text-overflow: ellipsis;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9fff4;
}

/* Fonts */

body > h1,
body > h2,
body > p {
  margin: 0 2%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

/* Footer */

footer {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1.2%;
  background-color: #ffb3b3;
}

